h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}  

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
#image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    }  
  #image2 {
    position: absolute;
    display: none;
    top: 30px;
    left: 30px;
    border: 1px solid #000000;
  }

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }